#main-menu{
    display: flex;
    flex-flow: row;
    background-color: cyan;
    border: 1px  solid black;
    justify-content: flex-end;
}
#side-menu{
    display: flex;
    flex-flow: row;
    background-color: cyan;
    border: 1px solid black;
}
.menu-item{
    background-color: blue;
    color: white;
  font-weight:bold;
  font-family: Arial;
  margin-left: 5px;
  margin-right: 5px;
}
.side-item{
    background-color: darkgreen;
    color: lightgray;
    font-weight: bold;
    font-family: Arial;
    margin-top: 2px;
    margin-bottom: 2px;
    width:150px;
}