body{
    background-color: lightgreen;
}

#container{
    background-color: white;
    height: 180px;
    width: 150px;
    border-radius: 15px;
    margin-left: 50px;
    margin-top:50px;
    overflow: hidden;
}
#text{
    transform: rotate(45deg);
    width: 250px;
    line-height: 2em;
    top: -20px;
    left: -40   px;
    position: relative;
    color: lightgray;
    font-family: Arial;
    
}