.parent{
    width:100px; 
    height:100px;
    margin: 100px;
    border-width: 2px;
    border-color: orange;
    border-style: solid;
}
img{
    max-width: 100%;
    max-height: 100%;
}

.container{
    width: 30%;
    height: 30%;
    


}