div{
    border-style: solid;
    border-color: black;
    border:1px;
}

.container{
    width:90%;
    height: 90%;
    margin: 5%;
    background-color: black;
}

    .col1{
        padding: 5px;
        float: left;
        margin-left:2%;
        margin-top: 2%;
        margin-bottom:2%;
        height: 96%;
        width: 30%;
        color:purple;
        background-color:lightgoldenrodyellow;
        font-family: 'Times New Roman';
        font-size: 12pt;
        text-indent: 1cm;
        overflow: hidden;

    }

   .col2{
        padding: 5px;
        float: left;
        margin-left:2%;
        margin-top: 2%;
        margin-bottom:2%;
        height: 96%;
        width: 30%;
        color: wheat;
        background-color: black;
        font-style: italic;
        text-transform: uppercase;
        font-size: 10pt;
        text-align: justify;
        overflow: auto;
     }

     .col3{
        padding: 2px;
        float:left;
        margin-left:2%;
        margin-top: 2%;
        margin-bottom:2%;
        height: 96%;
        width: 30%;
        background:red;
        font-family: Arial;
        font-weight:100; 
        text-decoration: line-through;
        text-align: center;
    }  

    img{
    float: left;
    margin-left:2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-top:2px;
    max-height: 100px;
    max-width: 100px;
    }
    